.header {
	--columnGapItem: 60px;

	@include desktop {
		--columnGapItem: 35px;
	}

	@include tablet {
		--columnGapItem: 25px;
	}

	font-size: 16px;
	font-weight: 500;
	padding-block: 24px;

	&__inner {
		@include flex-space-between;

		column-gap: 20px;
	}

	&__menu {
		&-left,
		&-right {
			@include flex-space-between
		};

		&-left {
			column-gap: calc(var(--columnGapItem) * 2);

			@include desktop {
				column-gap: calc(var(--columnGapItem) * 1.2);;
			}
		}

		&-right {
			column-gap: var(--columnGapItem);
		}
	}
}