.header-menu {
	&__list {
		display: flex;
		align-items: center;
		column-gap: 16px;
	
		@include desktop {
			column-gap: 10px;
		}

		@include tablet {
			@include flex-center;

			flex-direction: column;
			row-gap: 30px;
			font-size: 20px;
			font-weight: 500;
			min-height: 65vh;
		}
	}
	
	&__link {
		position: relative;
		display: inline-flex;
		align-items: center;
		height: 28px;
		padding-inline: 12px;
	
		@include desktop {
			padding-inline: 6px;
		}

		@include tablet {
			@include flex-center;

			position: relative;
			height: 28px;
			padding-inline: 12px;
		}
	
		@include hover {
			color: var(--color-light-brown);
			&::after {
				width: 100%;
			}
		}
	
		&::after {
			content: '';
			position: absolute;
			top: 100%;
			left: 50%;
			translate: -50%;
			width: 0;
			height: 1px;
			background-color: var(--color-light-brown);
			transition-duration: var(--transition-duration);
		}
	}
}